@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    font-style: normal;
}
body{
    overflow-x: hidden;
}

.margin {
    margin: 30px 10px;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 3px 5px whitesmoke;
}

.Nav-bar {
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    z-index: 999;

}

.Nav-bar ul {

    display: flex;
    align-items: center;
    justify-content: center;

}

.Nav-bar ul li {
    margin: 0 30px;
    padding: 0 10px;
    position: relative;
    list-style: none;
    color: black;
    order: 2;
    font-size: 18px;
}

.Nav-bar ul li a {
    text-decoration: none;
}

.Nav-bar ul li a:hover,
.Nav-bar ul li a.active {
    color: #da2525;
}

.Nav-bar ul li a::after {
    content: " ";
    width: 30%;
    height: 2px;
    color: #da2525;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#Logo {
    background-color: rgb(248, 243, 243);
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: italic;
    font-size: 4vh;
    order: 4;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    box-shadow: inset 3px 3px 5px black, 3px 3px 5px rgb(132, 19, 19);
    padding: 1rem 0;
}


/** Home Page**/
#Home {
    background: url("img/stock-photo-a-teenage-boy-model-posing-with-modern-fashion-created-with-generative-ai-996396.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.Home-container {
    margin: 0 5vh;
    color: aliceblue;
}

.Home-container h4 {
    font-style: italic;
    font-size: 2rem;

    padding-bottom: 15px;
}

.Home-container h2 {
    color: purple;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 2px 2px 3px whitesmoke;
}

.Home-container h1 {

    font-style: italic;
    font-size: 3rem;
}

.Home-container button {
    background-image: url('img/575-5756081_flex-banner-background-png-transparent-png-removebg-preview.png');
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 15rem;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    text-shadow: 3px 3px 4px #131313;

    cursor: pointer;
}

.Home-container p {
    padding: 30px 10px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#feature .f-box {
    padding: 10px 5px;
    margin: 50px 10px;
    box-shadow: 3px 3px 5px purple;
    cursor: pointer;
}

#feature .f-box:hover {
    box-shadow: inset 3px 3px 5px rgb(230, 76, 184);

}

#feature .f-box img {
    width: 200px;
    height: 180px;

}

#feature .f-box .head {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 6px 10px;
    color: aliceblue;
    background-color: #da2525;
}

#feature .f-box:nth-child(2) h3 {
    background-color: rgb(192, 110, 4);
}

#feature .f-box:nth-child(3) h3 {
    background-color: rgb(4, 139, 192);
}

#feature .f-box:nth-child(4) h3 {
    background-color: rgb(4, 192, 29);
}

#feature .f-box:nth-child(5) h3 {
    background-color: rgb(17, 4, 192);
}

#feature .f-box:nth-child(6) h3 {
    background-color: rgb(179, 192, 4);
}

#products {
    text-align: center;
    margin: 30px 0px;
}

#products h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: purple;
}

#products p {
    padding: 10px 0;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pro {
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px 20px;
    box-shadow: -2px -2px 5px wheat;
}

.pro:hover {
    box-shadow: 2px 2px 5px black;
}

.pro img {
    height: 200px;
    width: 180px;
}

.description {
    text-align: start;
}

.description span {
    font-size: 1.5rem;
}

.description h5 {
    font-size: 1rem;
}

.pro i {
    color: #da2525;
}

.description h4 {
    font-weight: bold;
    color: green;
}

#Banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('img/empty-shopping-cart-hole-ripped-260nw-1962195985.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    text-shadow: 2px 2px 3px white;
}

#Banner h4 {
    font-size: 30px;
    font-weight: 400;
}

#Banner h1 span {
    color: #da2525;
    font-weight: 500;
}

#Banner h1 {
    font-size: 50px;
    padding: 10px 0;
}

#Banner button {
    height: 45px;
    width: 140px;
    border: none;
    font-size: 16px;
}

#Banner button:hover {
    background-color: green;
    color: aliceblue;

}

#sm-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background: url('img/istockphoto-1793747463-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid gold;

    width: 550px;
    height: 300px;
    margin: 10px 20px;

    text-shadow: 2px 2px 3px white;
    padding: 0 20px;
}

#sm-banner .banner-box2 {

    background: url('img/shopping-sale-discount-offer-suggest-product-proposal-child-face-horizontal-poster-teenager-girl-isolated-portrait-banner-with-copy-space_545934-46207.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-box h4 {
    font-size: 20px;

}

.banner-box h1 {
    font-size: 30px;
    text-shadow: 2px 2px 3px white;
    color: #da2525;
}

.banner-box p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.banner-box button {
    height: 45px;
    width: 140px;
    border: none;
    font-size: 16px;
    background: transparent;
    border: 2px solid black;

}

.banner-box button:hover {
    background-color: green;
    color: aliceblue;

}

#banner3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#banner3 .banner-box {
    background-image: url('img/360_F_606085957_m7lE4bgggPgS8q3IzKcT6bTTIlx5Dy6U.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    height: 250px;
    width: 400px;
    border: none;
    box-shadow: inset 4px 4px 7px whitesmoke;
}

#banner3 .box2 {
    background-image: url('img/charming-woman-with-long-red-hair-puts-boater-lady-with-massive-gold-earrings-dressed-beautiful-silk-blouse-orange-space_197531-15359.jpg');
}

#banner3 .box3 {
    background-image: url('img/360_F_303616856_4qQYfzu5kSuzCgQeSTKnH4lE6cpEiTYc.jpg');
}

#banner3 .banner-box h1 {
    font-size: 30px;
    text-shadow: 2px 2px 3px black;
    color: white;
}

#banner3 .banner-box p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
    color: aliceblue;
    text-shadow: 2px 2px 3px #131313;
}

#NewsLetter {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 140px;
    background-color: brown;
}

#NewsLetter .sign-up {
    color: azure;
    padding: 0 30px;

}

#NewsLetter .sign-up h1 {
    font-weight: 500;
    text-shadow: 2px 2px 5px black;
}

#NewsLetter .sign-up p {
    font-weight: 400;
}

#NewsLetter .sign-up span {
    color: rgb(247, 227, 6);
}

#NewsLetter .search-bar input {
    height: 45px;
    width: 280px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#NewsLetter .search-bar {
    display: flex;
    width: 30%;
}

#NewsLetter .search-bar button {
    height: 45px;
    width: 85px;
    background-color: green;
    border: 1px solid transparent;
    color: white;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20vh;
}

.column #Logo {
    padding: 1rem 0;
    margin: 10px 0;
}

.column h4 {
    font-size: 20px;
    padding: 1rem 0;
}

.column p {
    font-weight: 400;
}

.column h3 {
    padding: .5rem 0;
}

.column button {
    background-color: 1px solid #fff;
    height: 42px;
    width: 20vh;
    margin: 10px 0;
cursor: pointer;
}

.column i {
    font-size: 20px;
    padding: 0 5px;
}

.column #font {
    font-size: 50px;
    color: rgb(14, 14, 140);
}

.column #goog,
#you,
#pin,
#insta {
    color: #da2525;
}

.column #twit,
#face {
    color: rgb(73, 73, 243);
}

.end p {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

/* shop page */
#page-header {
    background-image: url('img/istockphoto-876209390-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    height: 250px;
    width: 100%;
    border: none;
    box-shadow: inset 4px 4px 7px whitesmoke;
    opacity: 0.8;
}

#page-header h2 {
    color: yellow;
    text-shadow: 2px 2px 5px black;
}

#page-header p {
    color: black;
    text-shadow: 2px 2px 5px white;
    padding: 5px 0;
}

#pagination {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 20px;
}

#pagination a {
    padding: 20px 20px;
    margin: 0 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    height: 60px;
    width: 60px;
    font-weight: 400;
    border-radius: 4px;

}

#pagination a:hover {
    color: rgb(228, 228, 11);
    box-shadow: 3px 3px 5px black;
}

#pagination #arrow {
    font-size: 25px;
}

/*products details */
#items {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
}

#items #main {

    height: 500px;
}

#items .main-img {
    margin-right: 35px;
    width: 40%;

}

.small-img-container {
    display: flex;
    justify-content: space-between;

}

.small-img-container img {
    height: 130px;
    width: 130px;
}

.small-images {
    flex-basis: 24%;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(67, 67, 18);
    padding: 5px 5px;
}

.prod-details {
    width: 40%;
    margin-left: 35px;
    padding: 0 20px;

}

#items .prod-details h6 {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

#items .prod-details h4 {
    font-size: 25px;
    padding: 20px 0;
    font-weight: 600;
}

#items .prod-details p {
    font-size: 30px;
    font-weight: 600;
}

#items .prod-details select {
    display: block;
    width: 20vh;
    height: 30px;
    margin-bottom: 20px;
}

#items .prod-details input {
    height: 47px;
    width: 50px;
font-size: 1rem;
}

#items .prod-details input:focus {
    outline: none;
}

#items .prod-details .butt {
    width: 20vh;
    height: 47px;
    margin-left: 15px;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

#items .prod-details span {
    line-height: 30px;
}


/* blog  page  */
#page-header.pagehead{
  
        background-image: url('img/tamanna-rumee-eD1RNYzzUxc-unsplash.avif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:right;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 10px;
        height: 250px;
        width: 100%;
        border: none;
        box-shadow: inset 4px 4px 7px whitesmoke;
 
}
#page-header.pagehead p{
    color: white;
    text-shadow: -2px -2px 5px black ;
}
#Blog{
 
    padding: 70px 0 40px 30px;
  
}
#Blog .blog-box{
    display: flex;
    align-items: center;
   width: 100%;
   position: relative;
   padding-bottom: 90px;
}
#Blog .blog-box .blog-img img{
    height: 55vh;   
    object-fit: cover;
   width: 80vh ;
}
#Blog .blog-details{
    padding: 0 30px;
}
#Blog .blog-details h4{
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
  
}
#Blog .blog-details p{
    line-height: 1.8rem;
padding-bottom: 15px;
}
#Blog .blog-details a{
    position: relative;
   padding-top: 40px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    
}
#Blog .blog-details a::after{
content: "";
width: 50px;
height: 1px;
background-color: #131313;
position: absolute;
top: 50px;
 left: 21vh;
}

#Blog .blog-box h2{
    position: absolute;
    top: -90px;
   left: 180px; 
       font-size: 100px;
font-weight: 600;
color: silver;
z-index: -9;
}
#page-header.pagehead2{
    background-image: url('img/pngtree-city-building-blue-technology-banner-background-image_785461.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    height: 250px;
    width: 100%;
    border: none;
    box-shadow: inset 4px 4px 7px whitesmoke;
  opacity: 1;
}
#page-header.pagehead2 p{
    color: #fff;
    text-shadow:  4px 4px 7px black;
}
#About{
    padding: 70px 0 40px 30px;
}
#About .About-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   width: 100%;
padding-bottom: 90px;
}
#About .About-box .About-img img{
    height: 55vh;   
    object-fit: cover;
   width: 80vh ;
   padding: 0 40px;
}
#About .About-details{

    padding: 0 10px;
   width: 90vh;
}
#About .About-details h4{
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
  
}
#About .About-details p{
    line-height: 1.8rem;
padding-bottom: 15px;
}

.About-App{
    margin: 0 30px;
  text-align: center;
height: 100%;
width:200vh ;
background-color: rgb(169, 227, 230);
}
.About-App h2{
   font-size: 4rem;
 padding-bottom:10px ;

}
.About-App h2 a{
    color: #da2525;
   
}
.video video{
width: 60vh;
padding-top: 20px ;
height:100%;
margin-bottom: 10px;
border-radius: 5% ;

}
#page-header.pagehead3{
    background-image: url('img/tamanna-rumee-eD1RNYzzUxc-unsplash.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    height: 250px;
    width: 100%;
    border: none;
    box-shadow: inset 4px 4px 7px whitesmoke;
  opacity: 1;
}
#page-header.pagehead3 p{
    color: #fff;
    text-shadow:  4px 4px 7px black;
}
#contact-details{
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.info-box{
 padding: 0 50px;

}
.info-box span{
    font-weight: 400;
}
.info-box h1{
    font-size: 40px;
    padding: 12px 0;
}
.info-box h4{
    font-size:20px;
    padding-bottom: 10px;
    font-weight: 700;
}
#contact-details .icon li {
list-style: none;
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
}
#contact-details .icon li i{
    font-size: 20px;
    padding: 10px 12px;
}
#contact-details .icon p{
    font-weight:400;

}
#contact-details .map{
    padding: 0 30px;
   width: 55%;
   
}
#form-details{
    display: flex;
    align-items: flex-start;
   justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 20px;
}
#form-details .data{

height: 500px;
width: 800px ;
padding: 50px ;
margin-left: 40px;
}
#form-details .data h6{
font-size: 15px;
font-weight: 400;
}
#form-details .data h4{
    font-size: 30px;
    padding: 10px 0;
}
#form-details .data textarea{
    width: 38rem;
}
#form-details .data input{
width: 38rem;
height: 50px;
margin: 10px 0;
}
#form-details .data input,textarea:focus{
    outline: none;
}
#form-details .data .Submit{
    width: 12rem;
    height:50px ;
    background-color: green;
    color: #fff;
    border: none;
    font-size: 25px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#form-details .users{
     height: 750px;
width: 400px ;
}
#form-details .users {
display: flex;
flex-direction: column;

}
#form-details .users .person img{
border-radius: 100%;
}
#form-details .users .person h4{
    padding: 6px 0;
    font-weight: bold;
    font-size: 20px;
}
#form-details .users .person p{
    font-weight: 400;
padding-bottom: 10px;
line-height: 15px;
}